<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<form action="/" method="POST" enctype="multipart/form-data">
<h1>ResumePilot AI</h1>
<p>Upload your resume and AI will analyze it</p>
<p>Your Name:</p>
<input type = "text" name = "name">
<p>Your email:</p>
<input type = "email" name = "email">
<p>Target Role:</p>
<input type = "text" name = "target">
<p>Upload your Resume:</p>
<input type = "file" name = "resume" accept = ".pdf">
<button>Analyze Resume</button>
</form>

<h2>Present Skills:</h2>
{% for skill in present_skills %}
<p>{{skill}}</p>
{% endfor %}

<h2>Missing Skills:</h2>
{% for skill in missing_skills %}
<p>{{skill}}</p>
{% endfor %}
<h2>Score:</h2>
<p>{{score}}%</p>
</body>
</html>